* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

body {
  background: linear-gradient(
    90deg,
    rgb(61, 82, 83) 0%,
    rgb(14, 15, 15) 100%
  );
}
.app {
  display: flex;
  flex-direction: column;
  justify-content:flex-start;
  width: 900px;
  min-height: 520px;
  background: #afafaf;
  background: linear-gradient(
    90deg,
    rgb(29, 88, 136) 0%,
    #091238 100%
  );
  text-align: center;
  margin: 128px auto;
  border-radius: 10px;
  padding-bottom: 32px;
}
.icon{
  width: 80px;
  min-height: 80px;
}
h1 {
  margin: 32px 0;
  font-size: 45px;
  font-weight: 600;
  background-image: repeating-radial-gradient(circle closest-corner at 100px 100px, rgba(255, 118, 20, 1), rgb(224, 14, 14) 10%, rgba(255, 84, 17, 1) 20%);

  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  
             
}
.icon-app{
  margin-top: 32px;
  display:flex;
  /* justify-content: flex-start; */
}
.paragraf{
  font-size: 30px;
  color: azure;
}
.contunu{
  margin-top: 50px;
}